body {
    font-family: 'Roboto';
}

.bg {
    position: absolute;
    z-index: -1;
    top: 30px;
}
#jas-content {
    width: 935px;
    margin: 120px auto;
}
#jas-content .left-side {
    width: 655px;
}
#jas-content .right-side {
    width: 250px;
}
#jas-content .panel-body:after {
    clear: none !important;
}
#jas-content .input {
    margin-top: 10px;
}
#jas-content #recaptcha_challenge_image {
    width: 360px !important;
}
#jas-content #captcha {
    border: 1px solid #e7e7e7;
    padding: 10px;
    margin-top: 10px
}
#jas-content .input-group-addon {
    height: 15px !important;
}
#jas-content .box {
    border: 1px solid #e7e7e7;
    padding: 10px;
}
#jas-content .box legend {
    border: none !important;
    width: auto !important;
    font-size: 16px;
    background: #fff;
    padding: 0px 5px 0px 5px;
    margin-bottom: 0px !important;
}
#jas-content .box legend span {
    font-size: 12px;
}
#jas-content .item-box {
    width: 300px;
    border: 1px solid #e7e7e7;
    padding: 5px;
    margin-left: 8px;
    margin-top: 8px;
    text-align: center;
    cursor: pointer;
}
#jas-content .item-box .overlay {
    position: absolute;
    width: 298px;
    height: 110px;
    margin-left: -5px;
    margin-top: -5px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
    display: none;
}
#jas-content .item-box .overlay .title {
    position: absolute;
    z-index: 1500;
    color:  rgba(255, 255, 255, 1);
    font-size: 16px;
    margin-top: -8px;
    margin-left: -15px;
    font-weight: 300;
    text-transform: uppercase;
}
#jas-content .item-box .price {
    position: absolute;
    margin-top: -14px;
    margin-left: -15px;
}
#jas-content .item-box .group-price {
    position: absolute;
    margin-top: -14px;
    margin-left: -15px;
}
#jas-content .item-box .group {
    position: absolute;
    margin-top: -14px;
    margin-left: 78px;
}
#jas-content .item-box .jas-buy-box {
    margin-top: 5px;
    width: 170px;
}
#jas-content .item-box .jas-buy-box ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#jas-content .item-box .jas-buy-box ul li {
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 12px;
}
#jas-content .item-box .jas-buy-box ul li span {}
#jas-content .languages-list {
    text-align: center;
    margin-bottom: 15px;
}
#jas-content .languages-list a {
    opacity: 0.7;
}
#jas-content .languages-list a:hover, #jas-content .languages-list a.active {
    opacity: 1;
}
#jas-content #selected-char {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
#jas-content .select-char.selected {
    cursor: default;
    color: #000;
    text-decoration: none;
}
#jas-content .tab-content {
    padding-top: 10px;
}
#jas-content .sms-flags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 20px auto;
    text-align: center;
}
#jas-content .sms-flags-sep {
    border-bottom: 1px solid #e7e7e7;
    margin-top: 15px;
    margin-bottom: 15px;
}
#jas-content .sms-flags li {
    display: inline-block;
    opacity: 0.7;
    margin-left: 2px;
    margin-right: 2px;
}
#jas-content .sms-flags li:hover {
    cursor: pointer;
    opacity: 1;
}
#jas-content .sms-flags li.active {
    opacity: 1;
}

#jas-content .email-verified {
    color: #27ae60;
}
#jas-content .email-not-verified {
    color: #c0392b;
}

#jas-content .right-side i.fa.pull-right {
    margin-top: 5px;
}

.modal-backdrop {
    z-index: 0;
}
.modal {
    z-index: 9999;
}

/* balance page */
#jas-content .balance .tab-content p {
    margin: 0;
}
#jas-content .balance .tab-content form {
    text-align: center;
    margin-top: 15px;
}
#jas-content .balance .payment-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
#jas-content .balance .payment-description {
    text-align: center;
    margin-top: -7px;
}
#jas-content .balance .payment-info {
    text-align: center;
    margin: 25px 0;
}

#jas-content .pagination-wrapper {
    text-align: center;
}

/* install */
#jas-content.install .steps a.current {
    background-color: #FF7416;
    border-color: #FF7416;
    color: #fff;
}
#jas-content.install .steps a.done {
    background-color: #71BA51;
    border-color: #71BA51;
    color: #fff;
}
#jas-content.install .nav-buttons {
    margin-top: 15px;
    text-align: center;
}
#jas-content.install .form-control {
    font-size: 12px;
}
#jas-content.install p {
    margin: 0;
}
#jas-content.install .description {
    margin-bottom: 10px;
}
#jas-content.install .check {
    display: none;
}
#jas-content.install .req .loader {
    color: #FF7416;
}
#jas-content.install .req .yes {
    color: #71BA51;
}
#jas-content.install .req .no {
    color: #D6523C;
}
#jas-content.install .install-progress .wait {
    color: #FF7416;
}
#jas-content.install .install-progress .success {
    color: #71BA51;
}
#jas-content.install h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}
